body {
    background-color: rgb(250, 244, 244);
    color: black;
}

/* h1 {
    color: blueviolet;
    background-color: aqua;
    text-transform: capitalize;
    font-size: 40px;
    padding: 1rem;
    margin: 0;
} */